footer.container
 hr
 -var footerMsg = "Express Framework with NODEJS";
 p #{footerMsg} 
 div
  span
   a(href="/aboutUs",target="_blank") About Us |
  span
   a(href="/ContactUs" target="_blank")  Contact Us
 div
  a(href="#/click Me")
   img(src="spinner.gif" alt="GIF IMAGE")
  